.codebuddy/

.vscode

pycaches/
__pycache__/


*.pyc
*.pyo
*.pyd
*.pkl
*.pyd
*.pyo
*.pdb
*.egg
*.egg-info/
*.whl
*.dist-info/
*.db
*.sqlite3
*.log
*.coverage
*.mypy_cache/
*.pytest_cache/
*.hypothesis/
*.DS_Store
*.swp
*.swo
*.bak
.coverage
*.coverage.*
htmlcov
